body {
  font-family: 'Barlow', sans-serif;
}

#sideMenu {
  width: 20%;
  height: 100%;
  min-width: 200px;
  position: absolute;
  top: 0px;
  border-right: 1px solid #283949;
}

#main_list > li {
  font-weight: bold;
  margin-top: 5px;
}

ul {
  padding-left: 0px;
}

li {
  display: block;
  text-decoration: none;
  color: #283949;
  cursor: pointer;
  margin: 2px;
}

li:hover {
  background: #ecf0f1;
}

li:active {
  background: #283949;
  color: white;
}