<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/theme.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
    <title>MyTracker</title>
  </head>
  <body>
    <div id="main_container">

      <div id="sideMenu">

        <ul id="main_list">

          <li id="home">Home</li>

          <li id="stats">Statistics</li>
          <ul id="stats_list">
            <li id="basic_stats">Basic stats</li>
            <li id="adv_stats">Advanced stats</li>
          </ul>

          <li>Games</li>
          <ul id="games_list">
            <li id="mtt">Tournaments</li>
            <li id="sng">SitNGo</li>
            <li id="cg">CashGame</li>
          </ul>

          <li id="bankroll">Bankrool</li>

          <li id="settings">Settings</li>
          
        </ul>
      </div>

      <div id="content">

      </div>

    </div>
    
    <script src="../menu.js"></script>
  </body>
</html>